{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Capitan</h1>
        <p>
            daaaniz daniz daaaniz  daniz daniz daniz
        </p>
    </div>
    <div class="col-4">
        <img src="" class="img-thumbnail"
    </div>
</div>

{{> footer }}